#button1 {
	font-family: "GothamBook";
	background-color: red;
	color: black;
	width: 50px;
	height: 30px;
	position: center;
	top: 20px;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 4;
}
#button1:hover {
	background-color: white;
	transition-duration: 0.3s;
}	
	
